* {	padding: 0;
	margin: 0;
}

html { 
	display: block;
}

body {
	display: block;
    /*font-family: 'Crimson Text', serif;*/
    font-size: 20px;
    line-height: 1.5;
    background-color: #f1f1f1;
}



h1 {
	font-family: 'Oswald', sans-serif; 
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 20px 30px 10px;
	clear: both;
}

h2 {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: left;
}

h2 a {

}

article {
	padding: 20px; 0;
	display: block;
	float: left;  
	width: 70%;
	background-color: beige;

}

p {
	font-family: 'Crimson Text', serif;
	font-size: 15px;
	text-align: left;
	width: 480px;
}

a {
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	color: black
}

aside {
	display: block;
	float: left;
	padding: 20px 20px 20px 40px;
    display: block;

}

ul {
	list-style: none;
	margin: 0;
	padding: 0px;
}

li {
	border-left: 5px solid #333333;
	padding-left: 30px
}


aside a {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #333333;
	font-size: 15px;
	line-height: 2.5em;
}

aside a:hover {
	text-decoration: underline;

}

footer {
	display: block;
	height: 20px;
	clear: both;
    background-color: #333333;
    padding: 20px;
}

footer a {
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	color: #ffffff;
	width: 100px;
	padding: 10px;
	text-align: left;
}


#wrapper {
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

#topnav {
	background-color: #333333;
}

	#topnav a {
		display: block;
		font-family: 'Oswald', sans-serif;
		font-size: 15px;
		color: #ffffff;
		width: 100px;
		float: left;
		padding: 10px 0;
		text-align: center;
	}

	#topnav a:hover {
    	background-color: #404040;
}

	#mainnav a:hover {
	text-decoration: underline;

	}

#logo {
	margin-top: 10px;
}

.banner img {
	width: 100%;
}

#mainnav {
	padding-top: 60px;
	float: right;
}

#mainnav a {
	font-family: 'Oswald', sans-serif;
	color: #333333;
	margin-left: 20px;
	margin-right: 10px;
	text-align: right;
	font-size: 15px;
	text-transform: uppercase;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}